



@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

h1, h2, h3 {font-family: 'Permanent Marker', cursive;}
html {font-family: 'Bree Serif', serif;}

body{
	background-color:#62D5ED;
		
}

#footer{ background: #0C9BFA;
	


}



/*--------------------nav bar-----------------------*/


nav{
	display:block;
	text-align: center;
	font-size: 20px;
}
nav li:last-child{
	border-right: none;
}	

nav ul {
  list-style-type: none;
/*  margin: 20px;*/
  padding: 0;
  overflow: hidden;
	/*background color of bar*/
  background-color: #0C9BFA;
	
}
	/*put list items side by each*/
nav li {

  display:inline-block;
	border-right: 2px solid #bbb;
	
}

nav li a:link {
  display: block;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	/*added duration of fade*/
	transition-duration: 0.4s;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #0cfa54
}

/*make a CLASS that adds sticky to navbar*/

.sticky{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;}


.myRound{border-radius: 30px;
background-color: #B5F9E5;



}






/*sections*/

section{
	
		text-align: center;
}

.accentcol{
	background-color: #00f5d4;
	
	
}






