@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Source+Sans+Pro:wght@300&display=swap');

body{
	background-color: #032838
}

h1, h2, h3 {
	font-family: 'Lexend Deca', sans-serif;	
}

html{
	font-family: 'Source Sans Pro', sans-serif;
	
}

.myFont{
	font-family: 'Source Sans Pro', sans-serif;
	color: #032838;
	
}
.myshadow{
	-webkit-box-shadow: 19px 12px 15px 5px #000000; 
	box-shadow: 19px 12px 15px 5px #000000;
}

header{
	
	background-image: url("images/bridge2.jpg");
	background-size: cover;
	
	background-position: center left;
		
}

hr.solid {
	border-top: 3px solid #F59C2B;
}
	

.height30{
	height: 45vh;
}

.bg-blue{
	background-color: #032838;
	
}

.myRound{border-radius: 30px;
background-color: #F59C2B;
}

.accentCol{
	background-color: #032838
}

section{
	padding-bottom: 40px;
	padding-left: 40px;
}

img{
	padding-right: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* nav bar */

.navbar-custom{
	background-color: #032838;
	
	
}

.navbar-custom .navbar-text .navbar-custom .navbar-brand{
	color:antiquewhite;
	
}

.navbar-custom .navbar-nav .nav-link{
	
	color:beige;
}


.nav-item{ color: aliceblue;
	
}

nav li a:hover {
	background-color: #F59C2B;}
	
nav ul {
	background-color:#032838; 
	text-align:center;
	margin:auto;
}


nav ul li{
	display: inline-block;
}

li {
  border-right: 1px solid #F59C2B;
}

li:last-child {
  border-right: none;
		
} 	


.sticky{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;}

.myfooter{
	
	background-color: #F59C2B;
}






